@import 'src/scss/colors';
@import 'src/scss/dimensions';
@import 'src/scss/forms';
@import 'src/scss/buttons';

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    .left {
        flex-grow: 1;
        padding: 15px;
        border-right: 1px solid $secondary;
        color: $secondary;

        .form-disabled {
            margin: auto;
            width: max-content;
            padding: 20px;
            font-size: 25px;
        }

        .form {
            margin: auto;
            width: 70%;
            height: max-content;

            label {
                display: block !important;
                margin-top: 15px !important;
                margin-bottom: 2px !important;
                font-size: 12px !important;
                letter-spacing: 5px;
            }

            .title {
                font-size: 35px;
            }

            .request-button {
                display: block;
                margin: 0 auto !important;
                margin-top: 10px !important;
            }

            .error {
                color: $error;
            }

            .note {
                display: block;
                margin-top: 10px !important;
            }
        }
    }

    .right {
        width: 30%;
        background-color: $primary;
        padding: 20px;
        color: $secondary;

        .title {
            font-size: 25px;
            padding: 10px;
            margin-top: 10px;

            i {
                font-size: 20px;
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        .text {
            font-size: 15px;
            padding-left: 10px;
        }
    }
}

@media screen and (max-width: $max-width) {
    .container {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .left,
    .right {
        border: none !important;
        width: 100% !important;
    }

    .left {
        .form {
            width: 70% !important;
        }
    }
}