<div class="container">
    <div class="title-container">
        <div class="supratitle">Track your products from source to shelf</div>
        <div class="title">Ensuring trust and accountability through blockchain traceability</div>
        <button type="button" pButton class="button-filled-reversed" label="Get started"
            [routerLink]="'/add-manager'"></button>
        <div class="for-manager">Are you a manager? Secure your supply chain and build consumer trust</div>
    </div>
    <div class="card">
        <app-model></app-model>
    </div>
</div>