<div class="loading" *ngIf="!dataLoaded">
  <ngx-spinner bdColor="#06131a" size="medium" color="#ECF8BA" type="ball-clip-rotate"
    [fullScreen]="false"></ngx-spinner>
</div>

<div class="container" *ngIf="dataLoaded">
  <div class="null-product" *ngIf="product === null">Product with this uid does not exist.</div>
  <p-card *ngIf="product" [header]="product.name" [subheader]="product.timestamp" styleClass="product">
    <div *ngIf="showProductDescription" class="content">
      <div class="description">
        {{ product.description }}
      </div>
      <div class="category">
        Product category: {{ product.category }}
      </div>
      <div class="manufacturer">
        Manufacturer: {{ product.manufacturer }}
      </div>
      <div *ngIf="product.manufacturingDate" class="manufacturingDate">
        Manufacturing date: {{ product.manufacturingDate }}
      </div>
      <div *ngIf="product.expiryDate" class="expiryDate">
        Expiry date: {{ product.expiryDate }}
      </div>
      <div class="parents" *ngIf="productParents.length > 0">
        This product is derived from:
        <div class="parent" *ngFor="let parent of productParents">
          {{ parent.name }} <i class="pi pi-external-link" [routerLink]="['/product', parent.uid]"></i>
        </div>
      </div>
      <qrcode *ngIf="showProductQrCode" [qrdata]="product.uid" [errorCorrectionLevel]="'M'" [allowEmptyString]="true"
        [width]="100" colorDark="#06131a" colorLight="#ECF8BA">
      </qrcode>
      <button pButton [label]="showProductQrCode ? 'Hide QR code' : 'Show QR code'" class="button-filled-reversed"
        (click)="toggleProductQrCode()"></button>
    </div>
    <button pButton [label]="showProductDescription ? 'Read less' : 'Read more'" class="button-outline-reversed"
      (click)="toggleProductDescription()"></button>
  </p-card>
  <p-timeline [value]="events" align="alternate" styleClass="timeline">
    <ng-template pTemplate="marker" let-event>
      <span>
        <i [ngClass]="event.icon"></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <p-card [header]="event.title" [subheader]="event.date">
        <div *ngIf="event.showDescription" class="description">
          {{ event.description }}

          <div *ngIf="event.operationProducts.length > 0" class="operation-products">
            <p>The following products were used in this operation:</p>
            <div *ngFor="let product of event.operationProducts" class="operation-product">
              {{ product.name }} <i class="pi pi-external-link" [routerLink]="['/product', product.uid]"></i>
            </div>
          </div>
        </div>
        <button pButton [label]="event.showDescription ? 'Read less' : 'Read more'" class="button-outline-reversed"
          (click)="toggleDescription(event)"></button>
      </p-card>
    </ng-template>
  </p-timeline>
</div>