<div class="container">
  <div class="title">Add a new operation to your product's history</div>
  <div class="subtitle">Please fill in the information below carefully. You will not be able to update it later.</div>
  <div class="content">
    <div class="left">
      <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <label for="uid">PRODUCT UID<i class="pi pi-info-circle"></i></label>
        <input type="text" pInputText formControlName="uid" class="input-text1 uid" />

        <label for="name">OPERATION NAME</label>
        <input type="text" pInputText formControlName="name" class="input-text1" />
        <small class="error"
          *ngIf="(form.controls['name'].touched || submitted) && (form.controls['name'].errors?.required || form.controls['name'].errors?.emptyString)">
          Name is required</small>

        <label for="category">OPERATION TYPE</label>
        <input type="text" pInputText formControlName="category" class="input-text1" />
        <small class="error"
          *ngIf="(form.controls['category'].touched || submitted) && (form.controls['category'].errors?.required || form.controls['category'].errors?.emptyString)">
          Category is required</small>

        <label for="date">OPERATION DATE</label>
        <p-calendar formControlName="date" dateFormat="dd-mm-yy" styleClass="calendar" [hideOnDateTimeSelect]="false"
          [showIcon]="true">
        </p-calendar>
        <small class="error"
          *ngIf="(form.controls['date'].touched || submitted) && (form.controls['date'].errors?.required || form.controls['date'].errors?.emptyString)">
          Date is required</small>

        <label for="description">DESCRIPTION</label>
        <textarea rows="4" cols="30" pInputTextarea formControlName="description" class="input-textarea"></textarea>
        <small class="error"
          *ngIf="(form.controls['description'].touched || submitted) && (form.controls['description'].errors?.required || form.controls['description'].errors?.emptyString)">
          Description is required</small>

        <button type="submit" pButton label="Add operation" class="button-filled add-op-button"
          [loading]="loading"></button>
      </form>
    </div>
    <div class="right"></div>
  </div>
</div>
