<div class="container">
  <div class="title">Add a new operation to your product's history</div>
  <div class="subtitle">Please fill in the information below carefully. You will not be able to update it later.</div>
  <div class="content">
    <div class="left">
      <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <label for="uid">PRODUCT UID<i class="pi pi-info-circle"></i></label>
        <input type="text" pInputText formControlName="uid" class="input-text1 uid" />

        <label for="name">OPERATION NAME</label>
        <input type="text" pInputText formControlName="name" class="input-text1" />
        <small class="error"
          *ngIf="(form.controls['name'].touched || submitted) && (form.controls['name'].errors?.required || form.controls['name'].errors?.emptyString)">
          Name is required</small>

        <label for="category">OPERATION TYPE</label>
        <input type="text" pInputText formControlName="category" class="input-text1" />
        <small class="error"
          *ngIf="(form.controls['category'].touched || submitted) && (form.controls['category'].errors?.required || form.controls['category'].errors?.emptyString)">
          Category is required</small>

        <label for="date">OPERATION DATE</label>
        <p-calendar formControlName="date" dateFormat="dd-mm-yy" styleClass="calendar" [hideOnDateTimeSelect]="false"
          [showIcon]="true">
        </p-calendar>
        <small class="error"
          *ngIf="(form.controls['date'].touched || submitted) && (form.controls['date'].errors?.required || form.controls['date'].errors?.emptyString)">
          Date is required</small>

        <label for="description">DESCRIPTION</label>
        <textarea rows="4" cols="30" pInputTextarea formControlName="description" class="input-textarea"></textarea>
        <small class="error"
          *ngIf="(form.controls['description'].touched || submitted) && (form.controls['description'].errors?.required || form.controls['description'].errors?.emptyString)">
          Description is required</small>

        <label for="derived">Products involved in this operation
          <i class="pi pi-info-circle" pTooltip="Add the uids of the products that are involved in this operation"></i>
        </label>
        <div class="p-inputgroup">
          <input type="text" pInputText formControlName="operationProductuid"
            class="input-text1 operation-product-uid" />
          <button type="button" pButton icon="pi pi-plus" class="button-filled"
            (click)="addOperationProduct()"></button>
        </div>
        <div class="derived">
          <div class="derived-item" *ngFor="let product of operationProducts">
            <div class="derived-item-text">{{ product.name }}</div>
            <button type="button" pButton icon="pi pi-trash" class="button-filled-reversed"
              (click)="removeOperationProduct(product.uid)"></button>
          </div>
        </div>

        <button type="submit" pButton label="Add operation" class="button-filled add-op-button"
          [loading]="loading"></button>
      </form>
    </div>
    <div class="right">
      <div class="title"><i class="pi pi-check-circle"></i>Track and protect your products with ease</div>
      <div class="text">
        Adding a new operation for your product on our blockchain-based app ensures traceability and security, giving
        you and your customers peace of mind.
      </div>

      <div class="title"><i class="pi pi-shield"></i>Enhance transparency and build trust</div>
      <div class="text">
        Every time you add a new operation to your product's history, you increase its transparency and build trust with
        your customers. Join us in our mission to create a more trustworthy and sustainable product experience.
      </div>

      <div class="title"><i class="pi pi-lock"></i>Keep your products on track</div>
      <div class="text">
        With our app, managing your product's history has never been easier. Add new operations and keep your products
        on track from creation to consumption, ensuring their quality and safety every step of the way.
      </div>

      <div class="title"><i class="pi pi-eye"></i>Secure your supply chain</div>
      <div class="text">
        Adding a new operation for your product on our blockchain-based app means securing your supply chain from start
        to finish. Join us in our effort to create a more transparent and secure product experience for everyone.
      </div>
    </div>
  </div>
</div>