@import 'src/scss/colors';
@import 'src/scss/dimensions';
@import 'src/scss/forms';
@import 'src/scss/buttons';

.container {
  width: 80%;
  color: $secondary;
  margin: 0 auto;
  margin: 30px auto;

  .title {
    font-size: 35px;
  }

  .subtitle {
    font-size: 15px;
    margin-top: 10px;
  }

  .content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    .left {
      flex-grow: 1;
      padding: 0 30px;
      border-right: 1px solid $secondary;

      .form {
        margin: auto;
        height: max-content;

        label {
          margin-bottom: 5px !important;
          font-size: 15px !important;
          margin-top: 15px !important;
          letter-spacing: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .dates {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .date {
            width: 48%;
          }
        }

        .derived {
          .derived-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            opacity: 0.7;

            .derived-item-text {
              font-size: 15px;
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        .uid,
        .parent-uid {
          font-size: 10px;
        }

        .create-button {
          display: block;
          margin: 0 auto !important;
          margin-top: 10px !important;
        }

        .error {
          color: $error;
        }

        .note {
          display: block;
          margin-top: 10px !important;
        }

        .qrcode {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .right {
      width: 40%;
      background-color: $primary;
      padding: 0 30px;
      color: $secondary;

      .title {
        font-size: 25px;
        padding: 10px;
        margin-top: 10px;

        i {
          font-size: 20px;
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .text {
        font-size: 15px;
        padding-left: 10px;
      }
    }
  }
}

@media screen and (max-width: $max-width) {
  .container {

    .content {
      display: flex;
      flex-direction: column;

      .left,
      .right {
        width: 100% !important;
      }

      .left {
        border-right: none !important;

        .form {
          width: 80% !important;
          margin: 0 auto !important;
        }
      }
    }
  }
}
