<div class="loading" *ngIf="!dataLoaded">
  <ngx-spinner bdColor="#06131a" size="medium" color="#ECF8BA" type="ball-clip-rotate"
    [fullScreen]="false"></ngx-spinner>
</div>

<div class="container" *ngIf="dataLoaded">
  <div class="header">
    <div class="title">Your products</div>
    <button type="button" pButton label="Create a new product" class="button-outline"
      [routerLink]="'/manager/create-product'"></button>
  </div>
  <p-table [columns]="cols" [value]="products" dataKey="uid" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }" styleClass="table">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 5rem"></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-columns="columns" let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton [pRowToggler]="product" class="button-filled"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td *ngFor="let col of columns">
          {{ product[col.field] }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-product>
      <tr>
        <td colspan="6">
          <div class="expanded">
            <div class="uid">
              View your product here <i class="pi pi-external-link" [routerLink]="['/product', product.uid]"></i>
            </div>
            <div class="description">
              {{ product.description }}
            </div>
            <div class="parents" *ngIf="product.parents.length > 0">
              <div class="title">This product is derived from:</div>
              <div class="list">
                <div class="item" *ngFor="let parent of product.parents">
                  {{ parent.name }} <i class="pi pi-external-link" [routerLink]="['/product', parent.uid]"></i>
                </div>
              </div>
            </div>
            <div class="operations">
              <button type="button" pButton label="Add operation" class="button-outline add-operation-button"
                [routerLink]="['/manager/add-operation', product.uid]"></button>

              <p-dialog header="Add another manager of your product" [(visible)]="addManagerDialogVisible"
                [modal]="true" [style]="{ width: '40vw' }" [draggable]="false" [resizable]="false" styleClass="dialog">
                <form [formGroup]="form" (ngSubmit)="confirmAddManager(product.uid)">
                  <label for="new-owner">The new manager's address</label>
                  <input type="text" pInputText formControlName="manager" class="input-text1" />
                  <small class="error"
                    *ngIf="(form.controls['manager'].touched || submitted) && (form.controls['manager'].errors?.required || form.controls['manager'].errors?.emptyString)">
                    New owner is required</small>
                  <button type="submit" pButton label="Confirm" class="button-outline confirm-button"
                    [loading]="loading"></button>
                </form>
              </p-dialog>

              <button type="button" pButton label="Add manager" class="button-filled transfer-ownership-button"
                (click)="addManager()"></button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
