@import "/src/scss/colors";
@import "/src/scss/buttons";
@import "/src/scss/forms";

.loading {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    .title {
      font-size: 30px;
      color: $secondary;
    }

    button {
      margin-left: auto;
    }
  }

  :host ::ng-deep {
    .table.p-datatable {
      color: $secondary !important;

      .p-datatable-wrapper {

        &::-webkit-scrollbar {
          height: 10px;
        }

        &::-webkit-scrollbar-track {
          background: $secondary;
        }

        &::-webkit-scrollbar-thumb {
          background: $primary;
        }
      }

      .p-datatable-thead {
        th {
          background-color: $secondary !important;
          color: $primary !important;
          border: none !important;
        }

        th.p-sortable-column:focus {
          box-shadow: none !important;
          border: none !important;
          outline: 1px solid $primary !important;
        }
      }

      .p-datatable-tbody {
        tr {
          td {
            background-color: $primary !important;
            color: $secondary !important;
            border: none !important;

            .expanded {
              border-bottom: 1px solid $secondary !important;

              .uid {
                font-size: 12px;
                padding: 5px;
                user-select: all !important;
                background-color: $secondary !important;
                color: $primary !important;
                opacity: 0.7;

                i {
                  margin-left: 5px;
                  font-size: 10px;

                  &:hover {
                    cursor: pointer;
                  }
                }
              }

              .description {
                padding-top: 20px;
                padding-bottom: 20px;
              }

              .parents {
                .list {
                  padding: 10px;

                  .item {
                    font-size: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 5px;

                    i {
                      margin-left: 5px;
                      font-size: 10px;

                      &:hover {
                        cursor: pointer;
                      }
                    }
                  }
                }
              }

              .operations {
                display: flex;
                flex-direction: row;

                .add-operation-button,
                .transfer-ownership-button {
                  margin: 10px !important;
                }

                .confirm-button {
                  margin: 10px !important;
                }

                .form {
                  margin: auto;
                  height: max-content;

                  label {
                    margin-bottom: 5px !important;
                    font-size: 15px !important;
                    margin-top: 15px !important;
                    letter-spacing: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                  }
                }
              }
            }
          }
        }
      }

      .p-paginator {
        background-color: $secondary !important;
        color: $primary !important;
        border: none !important;

        .p-paginator-page,
        .p-paginator-current,
        .p-paginator-first,
        .p-paginator-last,
        .p-paginator-prev,
        .p-paginator-next {
          background-color: $secondary !important;
          color: $primary !important;
        }
      }
    }

  }
}