@import "/src/scss/colors";
@import "/src/scss/dimensions";

%button {
    outline: none;
    width: auto;
    box-shadow: none;
    margin: 10px;
    border: none;
    border-radius: 0%;

    &:hover {
        @extend %button;
    }

    &:not(:focus) {
        @extend %button;
    }
}

.button-filled {
    @extend %button;
    background-color: $secondary !important;
    color: $primary !important;
}

.button-outline {
    @extend %button;
    background-color: $primary !important;
    color: $secondary !important;
    border: 1px solid $secondary !important;
}

.button-filled-reversed {
    @extend %button;
    background-color: $primary !important;
    color: $secondary !important;
}

.button-outline-reversed {
    @extend %button;
    background-color: $secondary !important;
    color: $primary !important;
}

@media screen and (max-width: $max-width) {
    %button {
        font-size: 10px;
    }
}