$primary: #001A28;
$secondary: #E1FF17;
$tertiary: #000C1C;
$error: #FF556E;
$gradient1: linear-gradient(to right top, #00f7ff, #00fde7, #1dffc5, #64ff9c, #99ff6e, #9ffb62, #a4f755, #aaf347, #84e85e, #5fdc70, #39cf7f, #00c18a);
$gradient2: linear-gradient(to right top, #e1ff17, #b0ee2b, #82db3a, #51c745, #00b34d);
$gradient3: linear-gradient(to left, #001a28, #072230, #112a39, #1a3342, #233c4b, #213e52, #1f4058, #1f415f, #1a3a63, #203264, #2d2863, #3b1a5d);

// $primary: #1D1927;
// $secondary: #FFF3FA;
// $tertiary: #F7EBFF;
// $gradient1: linear-gradient(to right top, #f9f871, #bcf281, #82e799, #49d9b0, #00c8c0, #00bed5, #00b2e5, #00a3eb, #6691f4, #ad76e6, #e34ebc, #ff147d);
// $gradient2: linear-gradient(to right top, #ff147d, #d15dce, #768af4, #00a3eb, #00afc7);
// $gradient3: linear-gradient(to right bottom, #b5fa8a, #93f89d, #6ff5b1, #47f1c4, #00ebd6);

// $primary: #352D32;
// $secondary: #FFF3FA;
// $tertiary: #FF556E;
// $gradient1: linear-gradient(to right top, #eb3185, #fb5072, #ff7063, #ff8f5c, #ffad5e, #ffa75d, #ffa25d, #ff9c5d, #ff6f69, #ff3e8c, #e124bd, #8544ef);
// $gradient2: linear-gradient(to right top, #f17441, #f6624f, #f74f5f, #f43e71, #eb3185);
// $gradient3: linear-gradient(to right bottom, #b5fa8a, #93f89d, #6ff5b1, #47f1c4, #00ebd6);