$primary: #000F0F;
$secondary: #47f1c4;
$tertiary: #eba5ea;
$gradient1: linear-gradient(to right top,
                #b5fa8a, #9bf998,
                #81f7a7, #66f4b5,
                #47f1c4, #00eddc,
                #00e8f1, #00e2ff,
                #49d7ff, #8cc8ff,
                #c3b7ff, #eba5ea);
$gradient2: linear-gradient(to left bottom, #00ebd6, #00e2ff, #51d2ff, #b2bcff, #eba5ea);
$gradient3: linear-gradient(to right bottom, #b5fa8a, #93f89d, #6ff5b1, #47f1c4, #00ebd6);