@import "/src/scss/buttons";
@import "/src/scss/colors";
@import "/src/scss/dimensions";

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    margin-left: 20px auto;
    height: 80px;
    z-index: 100 !important;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 10%;
    padding-right: 10%;

    .title {
        margin-right: auto;
    }

    .account {
        color: $secondary;
        margin: 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: $min-width) {
    .navbar {
        .account {
            display: none;
        }
    }
}