<div class="navbar">
    <app-title class="title"></app-title>
    <button type="button" pButton *ngIf="isAdmin" label="Admin Dashboard" class="button-outline" [routerLink]="'/admin'"
        icon="pi pi-home"></button>
    <button type="button" pButton *ngIf="isManager" label="Manager Dashboard" class="button-outline"
        [routerLink]="'/manager'" icon="pi pi-home"></button>
    <div *ngIf="!connectWalletButtonVisible" class="account">{{ account }}</div>
    <button *ngIf="connectWalletButtonVisible" type="button" pButton class="button-filled" label="Connect wallet"
        (click)="requestWallet()" icon="pi pi-wallet"></button>
</div>